@model ListTagModel;
<div class="row">
    <div class="col-xs-12">
        <h2>@Model.PageTitle</h2>
    </div>
    <hr />
</div>
<div>
    <ul>
        @foreach (var tag in Model.ListTags)
        {

            <li><a href="@Url.Action(Model.Action, "Home", new { actor = tag })" target="_self">@tag.name</a><span>(@tag.quantity)</span> </li>
        }
    </ul>    
</div>