@*@model CategoriesMoviesModel;*@
@using Movie.Services.Models;
@using TopMovie.ViewComponents;
@model PagedResult<Movie.Services.Models.TbMovie>

<h2 class="page-header">
    <i class="fa fa-globe"></i> Results found:
</h2>

@(await Component.InvokeAsync<PagerViewComponent>(Model))