@model CategoriesMoviesModel;
@{
    ViewData["Title"] = "Movie";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary btn-lg" onclick="ShowMovie(-1)";>
                ADD MOVIE
            </button>
            <button type="button" class="btn btn-warning btn-lg" onclick="UpdateLinkGD()" ;>
                UPDATE LINK
            </button>
            @*<input type="button" value="ADD" title="ADD" class="btn btn-block btn-success" />*@
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of the Movies</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Category movie</th>
                                <th>Movie name</th>
                                @*<th>Movie type</th>*@
                                <th>IMDB</th>
                                <th>Country</th>
                                <th>Release date</th>
                                <th>Movie type</th>
                                <th>Trailer</th>
                                <th>Image Poster</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    @Html.Partial("~/Views/Movie/ModalUploadMovie.cshtml")
    <!-- Modal -->
    <div class="modal fade" id="getResultUpdateLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> RESULT </h4>
                </div>
                <div class="modal-body" style="overflow-x: scroll;">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Updated Successful</h2>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div id="result-updated"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Updated Failed</h2>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div id="result-failed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!-- /.content -->
<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="https://content.jwplatform.com/libraries/DEi221lx.js"></script>
<!-- page script -->
<script>
    var listActor = [];
    var listType = [];
    $(function () {
        $.ajax({
            url: "Actor/GetAll/",
            type: "POST",
            success: function (result) {
                listActor = $.map(result, function (obj) {
                    obj.id = obj.actorName; // replace pk with your identifier
                    obj.text = obj.actorName;
                    return obj;
                });
            }
        })

        $('#example2').DataTable({
            'processing': true, // for show progress bar
            //'serverSide': true, // for process server side
            'filter': true, // this is for disable filter (search box)
            'orderMulti': false, // for disable multiple column at once
            'paging': true,
            //'lengthChange': false,
            //'searching': false,
            //'ordering': true,
            //'info': true,
            'autoWidth': false,
            //'data': obj,
            "ajax": {
                "url": "@Url.Action("GetAll", "Movie")",
                "type": "POST",
                "dataSrc": function (json) {
                    for (var i = 0, ien = json.length; i < ien; i++) {
                        json[i][0] = '<a href="/message/' + json[i][0] + '>View message</a>';
                    }
                    return json;
                },
            },
            "columns": [
                { "data": "id", "name": "id" },
                { "data": "movieName", "name": "movieName" },
                //{ "data": "categoryId", "name": "categoryId" },
                { "data": "imdbId", "name": "imdbId" },
                { "data": "country", "name": "country" },
                {
                    "data": "releaseDate",
                    "name": "releaseDate",
                    "render": function (data, type, full, meta) {
                        return moment(data).format("DD/MM/YYYY");
                    }
                },
                { "data": "movieType", "name": "movieType" },
                { 
                    "data": "trailer", 
                    "name": "trailer",
                    "render": function(data,type,full,meta){
                        return '<a href="' + data + '"><img src="../dist/img/youtube-play-btn.png" width=30 /></a>';
                    }
                    
                },
                { 
                    "data": "imageUrl", 
                    "name": "imageUrl", 
                    "render": function(data,type,full,meta){
                        return '<img src="'+data+'" width=150 />';
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return "<a href='#' class='btn btn-info' onclick=DeleteMovie(" + row.id + "); >Delete</a>";
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return "<a href='#' class='btn btn-danger' onclick=ShowMovie(" + row.id + "); >Edit</a>";
                    }
                },
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                
            ]
        })
    })

    function ReloadTable() {
        $.ajax({
            url: "@Url.Action("GetAll", "Movie")",
            type: "POST",
            success: function (result) {
                $('#example2').DataTable().clear();
                $('#example2').DataTable().rows.add(result);
                $('#example2').DataTable().draw();
            },
        })
    }

    function ShowMovie(id) {
        if (id !== -1) {
            $.ajax({
                url: "Movie/GetById/" + id,
                type: "GET",
                success: function (result) {
                    if (result !== null) {
                        $('#movie_id').val(id);
                        $('#movie_name').val(result.movieName);
                        $('#imdb_id').val(result.imdbId);
                        $('.select-country').val(result.country);
                        $('#release_date').val(result.releaseDate);
                        $('.select-type').val(result.movieType);
                        $('#trailer').val(result.trailer);
                        $('#google_drive').val(result.googleDrive);
                        $('#image_url').val(result.imageUrl);
                        var arrayCat = result.categoryTag.split(',');
                        $('.select-category').select2({ multiple: true, data: arrayCat, tags: true, });
                        $('.select-category').val(arrayCat);
                        $('.select-category').trigger('change');
                        var arrayAct = result.actorTag.split(',');
                        $('.select-actor').select2({ multiple: true, data: arrayAct, tags: true, });
                        $('.select-actor').val(arrayAct);
                        $('.select-actor').trigger('change');
                        $('#myModal').modal('show');

                    }
                    else {
                        alert('There is not movie selected!');
                    }
                },
            })
        }
        else {
            $(".select-category").select2({
                dropdownParent: $('#myModal'),
                placeholder: 'Select an option',
                selectOnClose: true,
                tags: true,
                width: 'resolve',
            });
            $(".select-actor").select2({
                dropdownParent: $('#myModal'),
                placeholder: 'Select an option',
                selectOnClose: true,
                tags: true,
                width: 'resolve',
            });
            $(".select-country").select2();
            $(".select-type").select2();

            $('#release_date').datepicker({
                autoclose: true
            })
            $(".modal").on("hidden.bs.modal", function () {
                $(".modal-body input ").val("");
            });
            $('#myModal').modal('show');

        }
        
    }

    function DeleteMovie(id) {
        $.ajax({
            url: "Movie/Delete/" + id,
            type: "GET",
            success: function (result) {
                ReloadTable();
            }
        })
    }

    function UpdateLinkGD() {
        $.ajax({
            url: "Movie/UpdateGoogleDriveLink/",
            type: "GET",
            success: function (result) {
                var result_updated = $("#getResultUpdateLink #result-updated");
                for (var i = 0; i < result.updated.length; i++){
                    result_updated.append('<p>' + result.updated[i] + '</p>');
                }

                //$("#getResultUpdateLink #result-updated").html(result_updated);

                var result_failed = $("#getResultUpdateLink #result-failed");
                for (var i = 0; i < result.failed.length; i++) {
                    result_failed.append('<p>' + result.failed[i] + '</p>');
                }

                //$("#getResultUpdateLink #result-failed").html(result_failed);
                $("#getResultUpdateLink").modal("show");
            }
        })

    }
</script>