@model CategoriesMoviesModel;

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="category-movie">Movie name</label>
                            <input type="hidden" name="movie_id" id="movie_id" />
                            <input type="text" class="form-control" name="movie_name" id="movie_name" placeholder="Input movie name" />
                            <label for="category_tag">Categories</label>
                            <select class="col-xs-6 select-category js-states form-control" style="width: 100%" name="category_tag" multiple="multiple"></select>
                            <label for="actor_tag">Actors</label>
                            <select class="col-xs-6 select-actor js-states form-control" style="width: 100%" name="actor_tag" multiple="multiple"></select>
                            <label for="category-movie">Imdb Id</label>
                            <input type="text" class="form-control" name="imdb_id" id="imdb_id" placeholder="Input imdb" />
                            <label for="country_tag">Country</label>
                            <select class="col-xs-6 select-country form-control" style="width: 100%" name="country_tag">
                                <option value="USA">Mỹ</option>
                                <option value="South Korea" disabled="disabled">Hàn Quốc</option>
                                <option value="China">Trung Quốc</option>
                                <option value="Taiwan">Đài Loan</option>
                                <option value="Hong Kong">Hồng Kông</option>
                                <option value="Japan" selected>Nhật Bản</option>
                                <option value="Vietnam">Việt Nam</option>
                            </select>
                            <label for="category-movie">Release date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                    <input type="text" class="form-control" name="release_date" id="release_date" placeholder="Input release date" />
                                </div>
                            </div>
                            <label for="category-movie">Link trailer</label>
                            <input type="text" class="form-control" name="trailer" id="trailer" placeholder="Input link trailer" />
                            <label for="category-movie">Link google drive</label>
                            <input type="text" class="form-control" name="google_drive" id="google_drive" placeholder="Input link google drive" />
                            <label for="category-movie">Image Url</label>
                            <input type="text" class="form-control" name="image_url" id="image_url" placeholder="Input image url" />
                            <label for="category-movie">Movie Type</label>
                            <select class="col-xs-6 select-type form-control" style="width: 100%" name="select-type">
                                <option value="PL">Phim lẻ</option>
                                <option value="PB">Phim bộ</option>
                                <option value="PS">Phim hay</option>
                            </select>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveMovie()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/bower_components/select2/dist/js/select2.min.js"></script>
<!-- bootstrap datepicker -->
<script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {

        // $(".select-category").select2({
        //    dropdownParent: $('#myModal'),
        //    placeholder: 'Select an option',
        //    selectOnClose: true,
        //    tags: true,
        //    width: 'resolve',
        //});
        //$(".select-actor").select2({
        //    dropdownParent: $('#myModal'),
        //    placeholder: 'Select an option',
        //    selectOnClose: true,
        //    tags: true,
        //    width: 'resolve',
        //});
        //$(".select-country").select2();
        //$(".select-type").select2();

        //$('#release_date').datepicker({
        //    autoclose: true
        //})

        //}


        $(".modal").on("hidden.bs.modal", function () {
            $(".modal-body input ").val("");
        });

    });

    function saveMovie() {
        var movie = new Object();
        movie.MovieName = $('#movie_name').val();
        movie.ImdbId = $('#imdb_id').val();
        movie.Country = $('.select-country').val();
        movie.ReleaseDate = $('#release_date').val();
        movie.MovieType = $('.select-type').val();
        movie.Trailer = $('#trailer').val();
        movie.GoogleDrive = $('#google_drive').val();
        movie.ImageUrl = $('#image_url').val();
        movie.CategoryTag = $('.select-category').val().join(", ");
        movie.ActorTag = $('.select-actor').val().join(", ");
        //movie.CategoryId = -1;

        var url = '@Url.Action("Create", "Movie")';
        if ($("#movie_id").val() !== null && $("#movie_id").val() !== '') {
            url = '@Url.Action("Update", "Movie")';
            movie.Id = $("#movie_id").val();
        }

        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(movie),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                $('#example2').DataTable().draw();
            },
            error: function (xhr, resp, text) {
                console.log(xhr, resp, text);
            }
            });
        $("#myModal").modal('hide');
        ReloadTable();
        return false;
    }
</script>