
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category-movie">Category movie</label>
                            <input type="text" class="form-control" name="category_name" id="category-movie" placeholder="Input category movie" />
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addCategory()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    function addCategory(){
    var category = new Object();
    category.CategoryName = $("#category-movie").val();
    category.ParentId = -1;
    var cat_name = $("#category-movie").val();
    $.ajax(
            {
                type: "POST",
                url: '@Url.Action("CreateCategoryMovie", "CategoryMovie")',
                data: JSON.stringify(category),
                contentType: "application/json; charset=utf-8",  
                dataType: "json"
            });
            $("#myModal").modal('hide');
            location.reload();
    return false;
        }
</script>