<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Crawler Input</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="form-horizontal">
        <div class="box-body">
            <div class="row">
                <div class="form-group">
                    <label for="inputUrl" class="col-sm-2 control-label">Input URL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUrl" placeholder="URL...">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" class="btn btn-info pull-right" value="Start!" />
        </div>
    </div>
</div>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Result</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="form-horizontal">
        <div class="box-header">
            <h3 class="box-title">Site Name: WWW-WWW</h3><br />
            <h4 class="box-title">Site Url: www.www.www</h4>
        </div>
        <div class="box-body">
            <table id="example2" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Crawl URL</th>
                        <th>Is sucess</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>

</script>